@font-face {
  font-family: "MuseoModerno-Black";
  src: url("~@/assets/fonts/MuseoModerno-Black.ttf") format("truetype");
}


@font-face {
  font-family: "MuseoModerno-Bold";
  src: url("~@/assets/fonts/MuseoModerno-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "MuseoModerno-Medium";
  src: url("~@/assets/fonts/MuseoModerno-Medium.ttf") format("truetype");
}
